#post {
  font-size: 14px;
  line-height: 1.8em; }
  #post a:not([href]) {
    color: inherit;
    text-decoration: none; }
  #post .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1; }
  #post .anchor:focus {
    outline: 0; }
  #post blockquote,
  #post dl,
  #post ol,
  #post p,
  #post pre,
  #post table,
  #post ul {
    margin-top: 0;
    margin-bottom: 16px; }
  #post hr {
    overflow: hidden;
    background: #e1e4e8;
    height: .25em;
    padding: 0;
    margin: 24px 0;
    border: 0; }
  #post blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5; }
  #post h1,
  #post h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eaecef; }
  #post blockquote > :first-child {
    margin-top: 0; }
  #post blockquote > :last-child {
    margin-bottom: 0; }
  #post h1,
  #post h2,
  #post h3,
  #post h4,
  #post h5,
  #post h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25; }
  #post h1 .octicon-link,
  #post h2 .octicon-link,
  #post h3 .octicon-link,
  #post h4 .octicon-link,
  #post h5 .octicon-link,
  #post h6 .octicon-link {
    color: #1b1f23;
    vertical-align: middle;
    visibility: hidden; }
  #post h1:hover .anchor,
  #post h2:hover .anchor,
  #post h3:hover .anchor,
  #post h4:hover .anchor,
  #post h5:hover .anchor,
  #post h6:hover .anchor {
    text-decoration: none; }
  #post h1:hover .anchor .octicon-link,
  #post h2:hover .anchor .octicon-link,
  #post h3:hover .anchor .octicon-link,
  #post h4:hover .anchor .octicon-link,
  #post h5:hover .anchor .octicon-link,
  #post h6:hover .anchor .octicon-link {
    visibility: visible; }
  #post h6 {
    color: #6a737d; }
  #post ol,
  #post ul {
    padding-left: 2em; }
  #post ol ol,
  #post ol ul,
  #post ul ol,
  #post ul ul {
    margin-top: 0;
    margin-bottom: 0; }
  #post li > p {
    margin-top: 16px; }
  #post li + li {
    margin-top: .25em; }
  #post dl {
    padding: 0; }
  #post dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600; }
  #post dl dd {
    padding: 0 16px;
    margin-bottom: 16px; }
  #post table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: 100%;
    overflow: auto; }
  #post table th {
    font-weight: 600; }
  #post table td,
  #post table th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5; }
  #post table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1; }
  #post table tr:nth-child(2n) {
    background-color: #f6f8fa; }
  #post img {
    max-width: 100%;
    box-sizing: content-box;
    background-color: #fff; }
  #post code {
    padding: .2em 0;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px; }
  #post code::after,
  #post code::before {
    letter-spacing: -.2em;
    content: "\00a0"; }
  #post pre > code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: 0 0;
    border: 0; }
  #post .highlight {
    margin-bottom: 16px; }
  #post .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
  #post .highlight pre,
  #post pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px; }
  #post pre code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0; }
  #post pre code::after,
  #post pre code::before {
    content: normal; }
  #post .full-commit .btn-outline:not(:disabled):hover {
    color: #005cc5;
    border-color: #005cc5; }
  #post kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: 1px solid #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5; }
  #post .node text,
  #post .noteText,
  #post div.mermaidTooltip {
    font-family: 'trebuchet ms', verdana, arial; }
  #post :checked + .radio-label {
    position: relative;
    z-index: 1;
    border-color: #0366d6; }
  #post .task-list-item + .task-list-item {
    margin-top: 3px; }
  #post .task-list-item input {
    margin: 0 .2em .25em -1.6em;
    vertical-align: middle; }
  #post hr {
    border-bottom-color: #eee; }
  #post h1 {
    font-size: 2.25em; }
  #post h2 {
    font-size: 1.75em; }
  #post h3 {
    font-size: 1.5em; }
  #post h4 {
    font-size: 1.25em; }
  #post h5,
  #post h6 {
    font-size: 1em; }
  #post div.mermaid {
    text-align: center; }
  #post hr.footnotes-sep {
    margin: 64px 0 32px;
    height: 1px; }
  #post .footnotes {
    font-size: 90%;
    padding-left: 16px; }
  #post li.footnote-item > p {
    margin: 8px 0; }
  #post .danger,
  #post .info,
  #post .success,
  #post .warning {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px; }
  #post .danger > p:last-child,
  #post .info > p:last-child,
  #post .success > p:last-child,
  #post .warning > p:last-child {
    margin-bottom: 0; }
  #post .success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6; }
  #post .info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1; }
  #post .warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc; }
  #post .danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1; }
  #post abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #777; }
  #post ul.table-of-contents li {
    margin: 4px 0; }
  #post table td,
  #post table th {
    word-break: break-all; }
  #post .markdown-body.ace_search .highlight pre,
  #post .markdown-body.ace_search pre {
    overflow: visible !important;
    width: fit-content !important; }
